*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
.formbox{
    max-height: 100%;
    min-width: 30%;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid rgba(220, 215, 215, 0.7);
    box-shadow: 1rem 1rem 2rem rgb(144, 143, 143);
}
.form-control:focus{
    box-shadow: none;
}
.form-check-input:focus{
    box-shadow: none;
}
p{
    margin: 0;
    padding: 0;
}
.changelogo{
    position : relative;
    top :-3.4rem;
    left:20.5rem;
}
@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
}
@media (max-width: 576px) { 
    .changelogo{
        position : relative;
        top :0;
        left:16rem;
    }
}