*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    clear: both;
}
.carousel-inner{
   height: 54.6rem;
}
.fa-caret-left{
    font-size: 3rem;
}
.fa-caret-right{
    font-size: 3rem;
}